In [ ]:
from turtle import *
pencolor('blue')
colors = ['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [1]:
from turtle import *
pensize(20)
pencolor('blue')
fillcolor('yellow')
begin_fill()
circle(100)
end_fill()

In [2]:
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [9]:
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ''\n')
    
#print()
for i in range(6):
    print(i**2,end=' ')

0
1
4
9
16
25
0 1 4 9 16 25

In [15]:
li =[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [17]:
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [20]:
for i in range(len(li)):
    print(i,'-->',li[i])
print()
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [22]:
a=[1,2,3,4,5,6,8]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [28]:
li=[8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1

In [32]:
d={'name':'jagan','course':'msc','address':'pdtr'}
for k in d:
    print(k,end=' ')
print()

name course address

In [42]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [45]:
print(d)

{'name': 'jagan', 'course': 'msc'}

In [54]:
li=[]
for i in range(10):
    a=i**2
    li.append(a)
print(li,end=' ')
print('=',sum(li))
print()
print(sum(i**2 for i in range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81] = 285

285

In [58]:
li=[]
for i in range(10):
    li.append(i ** 2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
#com=[i**2]

In [5]:
# use of lambda
def filterlist(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
filterlist(li)

[2, 4, 6, 8]

In [7]:
lam_li=list(filter(lambda x:(x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

In [8]:
#lambda with map()
#takes fuunction and list as arguments

In [10]:
def sqli(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li=[1,2,3,4,5,6,7,8]
sqli(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [12]:
mapli=list(map(lambda x:x*2,li))
print(mapli)

[2, 4, 6, 8, 10, 12, 14, 16]

In [14]:
# lambda with reduce()

In [16]:
def sumli(li):
    s = 0
    for i in li:
        s+=i
    return s
sumli(li)

36

In [18]:
from functools import reduce
s=reduce((lambda x,y:x+y),li)
print(s)

36

In [22]:
#standard package pandas,numpy,matplotlib

### pandas is used 
- data cleaning
- data transaction
- data analysis

In [31]:
import pandas as pd
a={'jagan':35,'kaushik':36,'ravi':35}
b={'jagan':35,'kaushik':36,'ravi':35}
a=pd.Series(a)
b=pd.Series(b)
print(a)
print(b)

jagan      35
kaushik    36
ravi       35
dtype: int64
jagan      35
kaushik    36
ravi       35
dtype: int64

In [32]:
final ={'ja':a,'b':b}
final=pd.DataFrame(final)
print(final)

         ja   b
jagan    35  35
kaushik  36  36
ravi     35  35

In [33]:
final.columns

Index(['ja', 'b'], dtype='object')

In [34]:
final.values

array([[35, 35],
       [36, 36],
       [35, 35]], dtype=int64)

In [38]:
final.values[2][1]

35

In [43]:
for row in final.values:
    print('a :',row[0],'b :',row[1])

a : 35 b : 35
a : 36 b : 36
a : 35 b : 35

In [45]:
final

         ja   b
jagan    35  35
kaushik  36  36
ravi     35  35

In [47]:
final.loc['ram']=[45,44]

In [48]:
final

         ja   b
jagan    35  35
kaushik  36  36
ravi     35  35
ram      45  44

In [51]:
a={'temp':56,'pressure':45,'humidity':78}
p={'temp':45,'pressure':57,'humidity':77}
x=pd.Series(a)
y=pd.Series(p)
x
y
print(type(x))

<class 'pandas.core.series.Series'>

In [52]:
z=

SyntaxError: invalid syntax (<ipython-input-52-6c36347d6b6b>, line 1)